<div style="display: flex; justify-content: center;overflow: auto;">
<div class="task-list-container">
  <h2 style="display: flex; justify-content: center;color:#042eaa">Task List</h2>

  <!-- Task List -->
  <!-- <ul>
    <li *ngFor="let task of tasks">
      <span>{{ task.itemName }} - {{ task.itemDescription }}</span>
      <button (click)="editTask(task)">Edit</button>
      <button (click)="deleteTask(task.itemId)">Delete</button>
    </li>
  </ul> -->
  <h3 style="display: flex; justify-content: center;color:#042eaa">Enter your To-Do itemk</h3>
  <div style="display: flex; justify-content: center;">
  <form #save="ngForm"  (ngSubmit)="createTask()">
    <input type="text" #title id="itemname" name="itemname" [(ngModel)]="newTask.itemName" placeholder="Task Name" required>
    <br>
    <input type="text" #desc id="itemdesc" name="itemdesc" [(ngModel)]="newTask.itemDescription" placeholder="Description" required>
    <br>
    <button id="create" type="submit">Create</button>
  </form>
  </div>
  <div class="task-card" *ngFor="let task of tasks">
    <div class="task-info">
      <h3>{{ task.itemName }}</h3><p>{{ task.itemDescription }}</p>
    </div>
    <div class="task-actions">
      <input type="checkbox" class="toggle-button" (click)="toggleTask(task)"/>
      <button class="delete-button" (click)="deleteTask(task.itemId)">X</button>
    </div>
  </div>


  <!-- Create Task Form -->


  <!-- Edit Task Form -->
  <!-- <h3>Edit Task</h3>
  <form (submit)="updateTask()">
    <input type="text" [(ngModel)]="selectedTask.itemName" placeholder="Task Name" required>
    <input type="text" [(ngModel)]="selectedTask.itemDescription" placeholder="Description" required>
    <button type="submit">Update</button>
  </form> -->

</div>
</div>
